# Xcode
.DS_Store
**/xcuserdata/*
*.xcuserstate
*.xcuserdata
UserInterfaceState.xcuserstate
DerivedData/
*.xccheckout
*.xcscmblueprint
*.moved-aside

# CoreData
*.xcdatamodeld/*.xccurrentversion

# Swift/SwiftPM
.build/
*.swp
*~

# macOS
.DS_Store
**/.DS_Store